.akaIdeas {
    color: $akaBlue;

    :focus {
        border-color: $akaBlue;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 146, 187, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(0, 146, 187, 0.25);
    }

    h5 {
        font-size: 18px;
    }

    .form-control {
        padding: 0.375rem 0.5rem;
        height: 40px;
        border: 1.2px solid $akaBlue;
    }
    
    .form-group {
        textarea {
            height: 338px;
            border: 1.2px solid $akaBlue;
        }
    }

    input {
        border: 1.2px solid $akaBlue;
    }

    .inputfile + label {
        margin: 0;
        padding: 7px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        color: white;
        background-color: $akaBlue;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
    }
    
}

.akaTextProp {
    font-size: 0.75rem;
    color: $akaGrey;
}

.akaFormControl.akaBlue {
    border: 1.2px solid $akaBlue;
}
