.akaMalfunction {
    color: $akaOrange;

    :focus {
        border-color: $akaOrange;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(247, 146, 30, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(247, 146, 30, 0.25);
    }

    h5 {
        font-size: 18px;
    }

    .form-control {
        padding: 0.375rem 0.5rem;
        height: 40px;
        border: 1.2px solid $akaOrange;
    }

    .form-group.akaShort {
        textarea {
            height: 80px;
        }
    }
    
    .form-group {
        textarea {
            height: 338px;
            border: 1.2px solid $akaOrange;
        }
    }

    input {
        border: 1.2px solid $akaOrange;
    }

    .inputfile + label {
        margin: 0;
        padding: 7px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        color: white;
        background-color: $akaOrange;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
    }

    .akaBgOrange:hover  {
        background-color: $akaDarkOrange;
    }
    
}

.akaFormControl.akaOrange {
    border: 1.2px solid $akaOrange;
}

.akaMalfunctionCard {
    background-color: $akaPostBg;
    border-radius: 7px;
    border: 1px solid $akaOrange;

    h3 { color: black;}
}