.akaNavPlaceholder {
    height: 60px;
    width: 100%;
}


.akaNavBottom, .akaNavTop {
    background-color: $akaWhite;
    height: 60px;
    width: 100%;
}

.akaNavTop {
    border-bottom: 1px solid $akaGrey;  
}

.akaNavbarContainer {
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}