.akaNavPlaceholder {
    height: 60px;
    width: 100%;
}


.akaNavBottom, .akaNavTop {
    background-color: $akaWhite;
    height: 60px;
    width: 100%;
}

.akaNavTop {
    border-bottom: 1px solid $akaGrey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.akaNavbarContainer {
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.akaNavTopLink {
    padding-right: 5px;
    padding-top: 5px;
    font-size: 16px;
}