.akaPostImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.akaPost {
    background-color: $akaPostBg;
    border-radius: 7px;
    border: 1px solid $akaGreen;
}

.akaTime {
    font-size: 0.75rem;
    font-weight: 300;
}

.akaButton {
    width: 50%;
    border-radius: 0;
    margin-top: -1.25rem;
}

.akaButtonContainer {
 display: flex;
}

.akaBorderBottomLeftRadius {
    border-bottom-left-radius: 7px;
}

.akaBorderBottomRightRadius {
    border-bottom-right-radius: 7px;
}

.akaMarginTinyLeft {
    margin-left: 1px;
}

.akaPostText {
    font-size: 16px;
}

.akaPostTitle {
    font-size: 18px;
}