:root {
    font-family: 'Scene';
}

body {
    background: $akaWhite;
    font-family: 'Scene';
    font-size: 16px;
}

p {
    color: black;
    font-size: 14px;
}

a:link {
    color: $akaGreen;
}

a:visited {
    color: $akaGreen;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: $akaLightGreen;
}

.akaContainer {
    max-width: 800px;
    margin: auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: $akaGrey;
    background-color: white;
    background-clip: padding-box;
    border: 1.2px solid $akaGreen;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-group, .akaContainer {           
    
    :focus {
        border-color: $akaGreen;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(123, 182, 62, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(123, 182, 62, 0.25);
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill {
  background-color: white;
  -webkit-text-fill-color: #495057;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.nopacity {
    opacity: 0;
}

.akaGreenText {
    color: $akaGreen;
}

@font-face {
    font-family: 'Scene';
    font-weight: 300;
    src: url('/fonts/SceneAH-Light.otf') format('opentype'), url('/fonts/SceneProLight.woff') format('woff');
}

@font-face {
    font-family: 'Scene';
    font-weight: 500;
    src: url('/fonts/SceneAH-Medium.otf') format('opentype'), url('/fonts/SceneProMedium.woff') format('woff');
}

.btn {
    font-size: 16px;
    background-color: $akaGreen;
}

.akaBorderRadius {
    border-radius: 7px;
}

.akaBgGreen {
    background-color: $akaGreen;
}

.akaBgPink {
    background-color: $akaPink;
}

.akaBgBlue {
    background-color: $akaBlue;
}

.akaBgOrange {
    background-color: $akaOrange;
}

.akaMt2rem {
    margin-top: 2rem;
}

.akaMl1rem {
    margin-left: 0.5rem;
}

.akaNoWrap {
    white-space: nowrap;
}

.akaFlexRow {
    display: flex;
    input[type=checkbox] {
        zoom: 1.5;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $akaGrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $akaGrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $akaGrey;
}

.akaPink {
    color: $akaPink;
}

.akaGreen {
    color: $akaGreen;
}

.page-link:hover {
    color: $akaGreen;
}