$akaBlue: #3D92B7;
$akaDarkBlue: rgb(43, 106, 133);

$akaWhite: #FFFFFF;
$akaLightGrey: #BFBFBF;
$akaGrey: #9e9e9e;

$akaLightPink: rgb(233, 123, 167);
$akaPink: #E50F63;
$akaDarkPink: rgb(175, 12, 77);

$akaLightGreen: rgb(240, 255, 226);
$akaGreen: rgb(132, 196, 67);
// $akaGreen: #84C443;

$akaDarkGreen: rgb(100, 150, 50);

$akaLightOrange: rgb(255, 243, 230);
$akaOrange: #F7911E;
$akaDarkOrange: rgb(190, 112, 22);

$akaPostBg: rgb(255, 255, 255);

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
