
$akaBlue: #0094BB;
$akaLightBlue: #E0F5FF;
$akaWhite: #FFFFFF;
$akaLightGrey: #BFBFBF;
$akaGrey: #9e9e9e;
$akaPink: #E50F63;
$akaGreen: #00A64F;
$akaDarkBlue: #1F304D;
$akaOrange: #F7911E;





// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
